.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff159;
  height: 90px;
  width: 100vw;
  z-index: 100;
}
.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
